body {
  background: black;
  color: white;
  text-align: center;
  font-family: Arial;
  padding-top: 60px;
}

button {
  font-size: 18px;
  padding: 15px 25px;
  border-radius: 10px;
  background: #00ff99;
  border: none;
}
